<div class="row">
  <div class="col-lg-2"></div>
  <div class="col employee-form">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Position</th>
          <th>Office</th>
          <th>Salary</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items | async; let i = index">
          <td>{{ i+1 }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.position }}</td>
          <td>{{ item.office }}</td>
          <td>{{ item.salary }}</td>
          <th>
            <button class="btn btn-success" (click)="editEmployee(item)">Edit</button>
            <button class="btn btn-warning">Delete</button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="col-lg-2"></div>